[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snyth = {editable = true, path = "."}

[dev-packages]
jupyterlab = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
